<html>
        <head>
        <title></title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
            <script type ="text/javascript">
                 $(document).ready(function (){
                    // this triggers the connection event in our server!
                    var socket  = io.connect();
                    $( '#form1').submit(function(e){ 
                        e.preventDefault();
              var rando = Math.floor(Math.random()*1000) + 1;
                var data={
                            name: $(this.name).val(),
                            location: $(this.location).val(),
                            language: $(this.language).val(),
                            comment: $(this.comment).val(),
                        }
    socket.emit( "posting_form", {data: data});
   
})
socket.on( 'server_response', function(data){
    console.log( 'The server says: '  + JSON.stringify(data.response));
    $("#new").append("<p>You have provided the following info to the server: "+ JSON.stringify(data.response))
});
    socket.on('lol', function(data){
        console.log(JSON.stringify(data.response));
        $("#new").append("<p>Your lucky number emitted by the server is "+ JSON.stringify(data.response))
    })
});
                    // we'll write all the socket stuff after the above line!
            
                
            </script>
                <body>
                    <div id="new">

                    </div>
                
                    <h1></h1>
                    <form id="form1" method="POST">
                    <table>
                        <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" ></td>
                        </tr>
                        <tr>
                        <td>Favorite Language</td>
                        <td><select name="language">
                            <option>Javascript</option>
                            <option>Ruby</option>
                            <option>Python</option>
                            <option>Klingon</option>
                        </td>
                        </tr>
                        <tr>
                        <tr>
                            <td>Location:</td><td><select name="location">
                            <option>San Jose</option>
                            <option>Seattle</option>
                            <option>Other</option>
                        </select></td>
                              </tr>
                              <tr>
                                  <td>Comment(optional)</td>
                                  <td><textarea name="comment"></textarea></td>
                              </tr>
                        <td><input type="submit" value="Submit" ></td>
                        </tr>
                    </table>
                    </form>   
                 
            
            <!-- web page goes here -->
        </body>
        </html>